<%= div_for individual do %>  
	<h3>    
	
    <%= individual.firstName %> <%= individual.lastName %> 
		<span class='actions'>    
		    <!-- <%= link_to "Edit", company_individual_path(:company_id => @company, 
					:id => individual) %> -->
			<%= link_to 'Delete', company_individual_path(:company_id => @company, 
			:id => individual), :confirm => 'Are you sure?', :method => :delete %>    
		</span>
	</h3>

	<% end %> 