<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag  'Company Name' %><br />
    <%= f.text_field :companyName, :size => 60 %>
  </div>
  <div class="field">
    <%= label_tag  'Company Type' %><br />
    <%= f.select :companyType, Company::COMPANY_TYPES,
		:prompt => 'Choose a value' %>
  </div>
  <div class="field">
    <%= label_tag  'Customer Type' %><br />
    <%= f.select :customerType, Company::CUSTOMER_TYPES,
		:prompt => 'Choose a value' %>
  </div>
  <div class="field">
    <%= label_tag  'Industry' %><br />
    <%= f.select :industry, Company::INDUSTRY_TYPES,
		:prompt => 'Choose a value' %>
  </div>
  <div class="field">
    <%= label_tag  'TIN No.' %><br />
    <%= f.text_field :tinNo, :size => 12 %>
  </div>
  <div class="field">
    <%= label_tag  'VIP' %><br />
    <%= f.select :vip, Company::VIP_TYPES,
		:prompt => 'Choose a value' %>
  </div>
  <div class="field">
    <%= label_tag  'Description' %><br />
    <%= f.text_area :description, :rows => 6, :cols => 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
